## 🙃

I'm a software engineer from Taipei, Taiwan that mostly do backend & data related stuff. Python is my go-to game but I'm also cool with (ordered by my familiarity) TypeSript, Scala, Rust and C++. Currently on my umpteenth attempt to learn Haskell.

## 🌐

[My personal website](https://usefulalgorithm.github.io/), mostly just my thoughts on music I enjoy or do not enjoy.

## 🎧

<details>
<summary>Albums I've been listening to recently:</summary>

{% for album in latest_albums -%}
- _{{ album.name }}_, by {{ album.artists | join(", ") }}
{% endfor %}
</details>

<details>
<summary>Albums I've been digging in the past month, according to Spotify:</summary>

{% for album in top_albums -%}
- _{{ album.name }}_, by {{ album.artists | join(", ") }}
{% endfor %}
</details>

## 💬

GitHub says "usefulalgorithm/usefulalgorithm is a special repository", but every repository is special to me insofar as they've all induced different pain and suffering to my life.
